<div class="dialog-center">
  <div [ngStyle]="{ width: '480px' }">
    <vds-linear-progress *ngIf="isLoading"></vds-linear-progress>
    <div vds-dialog-card-head>
      <h2 vds-dialog-card-head-title>Activating Merchants</h2>
    </div>

    <div vds-dialog-card-body>
      <p>
        Are you sure you want to activate the selected merchants?
      </p>

      <!-- <div class="form-field">
        <vds-form-field>
          <label vdsLabel>Comment</label>
          <textarea
            vdsInput
            placeholder="Comment"
            [autoGrow]="true"
            [rows]="3"
            [value]="comment"
            [maxLength]="256"
            (changed)="commentChange($event)"
          ></textarea>
        </vds-form-field>
      </div> -->
    </div>

    <div vds-dialog-card-footer>
      <vds-button-group direction="right">
        <button role="button" vds-button (click)="handleSubmit()">
          Activate
        </button>

        <button role="button"
          id="close-button"
          vds-button
          [color]="ButtonColorEnum.SECONDARY"
          (click)="this.dialogRef.close()">
          Cancel
        </button>
      </vds-button-group>
    </div>
  </div>
</div>
