
<div class="vds-grid">
    <div class="row dialog-header-bar">
        <div class="col--align-end">
            <button role="button" aria-label="Close"  vds-button-icon [iconType]="ButtonIconType.LIGHT_TINY" (click)="close()">
                <svg vds-icon icon="visa_close" [tiny]="true"></svg>
            </button>
        </div>
    </div>
</div>

<div vds-dialog-card-head>
    <h2 vds-dialog-card-head-title>Clients</h2>
</div>

<div vds-dialog-card-body class="detail-panel" [ngClass]="{'width-when-panel-open': isPanelOpen }">
    <app-client-list viewType="dialog"></app-client-list>
</div>

<div vds-dialog-card-footer class="dialog-footer">
    <vds-button-group>
        <button role="button" vds-button [color]="ButtonColor.TERTIARY" (click)="close()">
            CLOSE
        </button>
    </vds-button-group>
</div>
