<div class="table-wrapper">
  <div class="table-container">
    <table vdsDataTable>
      <caption vdsScreenReader>
        {{ caption }}
      </caption>
      <thead vdsThead>
        <tr vdsTr>
          <th vdsTh scope="col" width="5%">
              <vds-checkbox
                [matTooltip]="
                  selectedIndex.length === tableData.length
                    ? 'Deselect All'
                    : 'Select All'
                "
                [matTooltipPosition]="TooltipPosition.RIGHT"
                label="Select"
                (click)="selectAllHandler($event)"
                [indeterminate]="
                  selectedIndex.length > 0 &&
                  selectedIndex.length < tableData.length
                "
                [checked]="
                  tableData.length > 0 &&
                  selectedIndex.length === tableData.length
                "
              ></vds-checkbox>

              <!-- Added label with 0 opacity for VGAR Requirement -->
              <!-- Table Header shouldn't be empty -->
              <label vdsLabel class="hidden-label">Select</label>
          </th>

          <ng-container *ngFor="let column of columns; let i = index">
            <th vdsTh scope="col" *ngIf="column.checked">
              <div class="sort-btn">
                {{ column.label }}

                  <button
                    *ngIf="column.sortable"
                    [matTooltip]="'Sort ' + sortBy[i]?.slice(1) | titlecase"
                    [matTooltipPosition]="TooltipPosition.RIGHT"
                    role="button"
                    vds-button-icon
                    [iconType]="ButtonIconType.LIGHT_TINY"
                    (click)="handleSort(column.value, i)"
                    [attr.aria-label]="'sort ' + column.label + sortBy[i]"
                  >
                    <svg
                      vds-icon
                      [icon]="'sortable' + sortBy[i]"
                      [tiny]="true"
                    ></svg>
                  </button>
              </div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody vdsTbody>
        <tr
          vdsTr
          *ngFor="let row of tableData; let i = index"
          [class.selected-row]="selectedIndex.includes(i)"
        >
          <td vdsTd>
            <vds-checkbox
              label="Select"
              (changed)="checkboxHandler($event, i)"
              [checked]="selectedIndex.includes(i)"
              [disabled]="acquirerMerchantType ? (row.bin === '-' || row.caid === '-') : false"
            ></vds-checkbox>
          </td>
          <ng-container *ngIf="acquirerMerchantType; else defaultRows">
            <td vdsTd *ngIf="columns[0].checked">
              {{ row[columns[0].value] }}
            </td>
            <td vdsTd *ngIf="columns[1].checked">
              {{ row[columns[1].value] }}
            </td>
            <td vdsTd *ngIf="columns[2].checked">
              {{ row[columns[2].value] }}
            </td>
            <td vdsTd *ngIf="columns[3].checked">
              {{ row.visaStoreEnrichedAddress.countryCode || "-" }}
            </td>
            <td vdsTd *ngIf="columns[4].checked">
              {{ row.visaStoreEnrichedAddress.city || "-" }}
            </td>
            <td vdsTd *ngIf="columns[5].checked">
              {{ row.visaStoreEnrichedAddress.state || "-" }}
            </td>
          </ng-container>
          <ng-template #defaultRows>
            <td vdsTd>
              {{ row[columns[0].value] || '-' }}
            </td>
            <td vdsTd>
              {{ row[columns[1].value] || '-'}}
            </td>
            <td vdsTd *ngIf="columns[2].checked">
              {{ row[columns[2].value] }}
            </td>
            <td vdsTd *ngIf="columns[3].checked">
              {{ row.visaStoreEnrichedAddress.countryCode || "-" }}
            </td>
            <td vdsTd *ngIf="columns[4].checked">
              {{ row.visaStoreEnrichedAddress.city || "-" }}
            </td>
            <td vdsTd *ngIf="columns[5].checked">
              {{ row.visaStoreEnrichedAddress.state || "-" }}
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <div class="no-data-label" *ngIf="!tableData.length">
      This group has no merchants added.
    </div>
  </div>
</div>
