<!-- <div class="dialog-center">
    <div class="dialog-container"> -->
      <div class="vds-grid">
        <div class="row dialog-header-bar">
          <div class="col--align-end">
            <button role="button"
              vds-button-icon
              [iconType]="ButtonIconType.LIGHT_TINY"
              aria-label="Close"
              (click)="closeDialog()"
            >
              <svg vds-icon icon="visa_close" [tiny]="true"></svg>
            </button>
          </div>
        </div>
      </div>
      <vds-linear-progress *ngIf="showLoader"></vds-linear-progress>
  
      <div vds-dialog-card-head>
        <div class="vds-grid">
          <div class="row">
            <span>
              {{ title }}
            </span>
          </div>
  
          <div class="row name">
            <h2 vds-dialog-card-head-title>{{ eventTemplate.eventName || "Untitled" }}</h2>
          </div>
  
          <div class="row">
            <div class="col col--valign-center">
  
              <ul
                *ngIf="initTab"
                vds-tab-list
                [orientation]="TabsOrientation.HORIZONTAL"
                (selectedIndexChange)="onTabChange($event)"
              >
                <li vds-tab-item *ngFor="let tab of tabs; let tabIndex = index">
                  <button role="button" 
                    vdsTab
                    [selected]="selectedTabIndex === tabIndex"
                    (focus)="selectedTabIndex = tabIndex"
                  >
                    {{ tab }}
                  </button>
                </li>
              </ul>
              <hr vdsDivider />
            </div>
          </div>
        </div>
      </div>
      <div 
        vds-dialog-card-body 
        class="detail-panel"
        id="create-edit-event-group-template-event-dialog"
        tabindex="0"
      >
        <ng-container *ngIf="initializeForm">
          <app-event-group-template-event-details
          *ngIf="!hideTab(EventStep.EVENT_DETAILS)"
          [form]="eventTemplateForm"
          [id]="getTabId(viewName,selectedTabIndex,EventStep.EVENT_DETAILS)"
          [attr.aria-label]="getTabLabelledById(viewName,selectedTabIndex,EventStep.EVENT_DETAILS)"
          [disabled]="disabled"
          [dialogMode]="mode"
          [hidden]="hideTab(EventStep.EVENT_DETAILS)"
        ></app-event-group-template-event-details>
  
        <app-event-group-template-event-conditions
          [form]="eventTemplateForm"
          [id]="getTabId(viewName,selectedTabIndex,EventStep.EVENT_CONDITIONS)"
          [disabled]="disabled"
          [dialogMode]="mode"
          [hidden]="hideTab(EventStep.EVENT_CONDITIONS)"
          (onSubmitEmitter)="handleEventConditionSubmitRequest($event)"
        ></app-event-group-template-event-conditions>
  
        <app-event-group-template-event-relationships
          *ngIf="!hideTab(EventStep.EVENT_RELATIONSHIPS)"
          [form]="eventTemplateForm"
          [id]="getTabId(viewName,selectedTabIndex,EventStep.EVENT_RELATIONSHIPS)"
          [attr.aria-label]="getTabLabelledById(viewName,selectedTabIndex,EventStep.EVENT_RELATIONSHIPS)"
          [disabled]="disabled"
          [dialogMode]="mode"
          [hidden]="hideTab(EventStep.EVENT_RELATIONSHIPS)"
        ></app-event-group-template-event-relationships>
  
        <app-event-group-template-event-actions
          [form]="eventTemplateForm"
          [id]="getTabId(viewName,selectedTabIndex,EventStep.EVENT_ACTION)"
          [attr.aria-label]="getTabLabelledById(viewName,selectedTabIndex,EventStep.EVENT_ACTION)"
          [disabled]="disabled"
          [dialogMode]="mode"
          [eventGroupTemplate]="eventGroupTemplate"
          [hidden]="hideTab(EventStep.EVENT_ACTION)"
        ></app-event-group-template-event-actions>
        </ng-container>

      </div>
      <div vds-dialog-card-footer class="dialog-footer">
          <vds-button-group>
            <button role="button"
              *ngIf="
                !disabled &&
                [
                  tabs.indexOf(EventStep.EVENT_DETAILS),
                  tabs.indexOf(EventStep.EVENT_RELATIONSHIPS)
                ].includes(selectedTabIndex)
              "
              vds-button
              [color]="ButtonColor.PRIMARY"
              (click)="save()"
            >
              SAVE
            </button>
            <button role="button"
              *ngIf="
                !disabled &&
                [
                  tabs.indexOf(EventStep.EVENT_DETAILS),
                  tabs.indexOf(EventStep.EVENT_RELATIONSHIPS)
                ].includes(selectedTabIndex)
              "
              vds-button
              [color]="ButtonColor.SECONDARY"
              (click)="saveAndExit()"
            >
              SAVE & EXIT
            </button>
  
            <button role="button"
              vds-button
              [color]="ButtonColor.TERTIARY"
              (click)="closeDialog()"
            >
            {{ showCloseButton ? 'CLOSE' : 'CANCEL' }}
            </button>
          </vds-button-group>
      </div>
    <!-- </div>
  </div> -->
  