<app-header screenTitle="Help & Support"></app-header>
<br>
<strong>Technical Support for Visa Loyalty Suite for your region:</strong>
<br>
<br>
<app-search-table
    [hideSelectAll]="true"
    [columns]="columns"
    [dataSource]="regionData"
    [tableStyle]="{width :'50vw', height:'auto'}"    
></app-search-table>

<br>
<strong>Share Your Feedback</strong> 
<p>
    We love to hear your thoughts about Visa Loyalty Suite.  We value your contribution and encourage to share your feedback to Visa <a href="mailto:GDLGlobalLoyaltyOperations@visa.com">Global Loyalty Operations</a> to create a better experience about Visa Loyalty Suite.
</p>
<app-footer></app-footer>
