.status-container {
    height: 172px;
    background-color: #fafafa;
    padding: 24px;
}

.vds-divider--standard {
    border-top-width: 1px;
    border-top-color: #cacaca;
    margin-top: 31px;
    margin-bottom: 24px;
}

.date-selector-wrapper {
    display: flex;
    align-items: baseline;
}

.info-icon {
    margin: 12px;
}

.form-container {
    width: 900px;
}