<div
  class="page-content"
  [ngClass]="{ 'panel-open': isPanelOpen }"
>
  <div class="body-wrapper">
    <div
      *ngIf="searchActivate && isAnyFilterApplied()"
      class="search-filter-container"
    >
      <strong>Results for</strong>
      <form [formGroup]="advancedSearchForm">

        <div *ngFor="let field of searchFields; trackBy:searchFieldTrackBy">
          <ng-container *ngIf="(!hideSearchFieldFilters || !!advancedSearchForm?.get(field.key)?.value) || (!!field.searchDependencies?.length && getAvailableDependencyValue(field))">
            <ng-container *ngIf="((field.type === SearchFieldType.INPUT) || (field.type === SearchFieldType.TEXT_AREA) || !field.type); else searchSelect">
              <vds-form-field>
                <label vdsLabel>{{field.label}}</label>
                <input
                  vdsInput
                  [formControlName]="field.key"
                  [invalid]="advancedSearchForm.controls[field.key].invalid"
                />
              </vds-form-field>
            </ng-container>

            <ng-template #searchSelect>
              <ng-container *ngIf="((field.type === SearchFieldType.SEARCH_SELECT) ); else dropdown">
                <div
                  vds-combobox
                  [id]="tableId.concat('search-select-selection').concat(field.key)"
                  [formControlName]="field.key"
                  [type]="ComboboxType.MANUAL"
                  [invalid]="advancedSearchForm.controls[field.key].invalid"
                >
                  <vds-form-field>
                    <label vdsLabel>{{field.label}}</label>
                    <input 
                      vdsInput
                    />
                    <button
                      vdsSuffix
                      vds-button-icon
                      role="button"
                      [iconType]="ButtonIconType.LIGHT_TINY"
                      [attr.aria-expanded]="searchSelectOpen"
                    >
                    <svg
                      vds-icon
                      icon="visa_arrow-expand"
                      [tiny]="true"
                    ></svg>
                    </button>
                  </vds-form-field>
                  <vds-menu [isComboboxMenu]="true">
                    <ul vds-listbox>
                      <li
                        vds-listbox-item
                        *ngFor="let option of getOptionList(field)"
                        [value]="option.value"
                      >
                      {{option.label}}
                      </li>
                    </ul>
                  </vds-menu>
                </div>
              </ng-container>
            </ng-template>

            <ng-template #dropdown>
              <ng-container *ngIf="(field.type === SearchFieldType.DROPDOWN); else date">
                <vds-form-field>
                  <label vdsLabel>{{field.label}}</label>
                  <select 
                    vdsSelect 
                    [formControlName]="field.key"
                    [name]="'searchFiled-'+field.key"
                    [invalid]="advancedSearchForm.controls[field.key].invalid"
                  >
                    <option
                      *ngFor="let option of getOptionList(field)"
                      [value]="option.value"
                      >
                      {{option.label}}
                    </option>
                  </select>
                </vds-form-field>
              </ng-container>
            </ng-template>

            <ng-template #date>
              <ng-container *ngIf="((field.type === SearchFieldType.DATE) || (field.type === SearchFieldType.GMT_DATE)); else time">
                <vds-date-selector
                  label="{{field.label}}"
                  [value]="this.advancedSearchForm.controls[field.key].value"
                  [formatInputValue]="DateFormat.MM_DD_YYYY"
                  (formattedDateChange)="onDateChange($event, field)"
                  [valid]="advancedSearchForm.controls[field.key].valid"
                  (formattedDateChange)="handleDateChange($event,field)"
                ></vds-date-selector>
              </ng-container>
            </ng-template>

            <ng-template #time>
              <ng-container *ngIf="(field.type === SearchFieldType.TIME); else checkbox">
                <app-time-picker
                  aria-required="true"
                  [formControlName]="field.key"
                  [placeholder]="field.label"
                  [disabled]="!advancedSearchForm.get(field.searchDependencies![0].parentField)?.value"
                  [invalid]="advancedSearchForm.controls[field.key].invalid"
                >
                </app-time-picker>
              </ng-container>
            </ng-template>

            <ng-template #checkbox>
              <ng-container *ngIf="(field.type === SearchFieldType.CHECKBOX); else radioGroup">
                <vds-checkbox
                  [label]="field.label"
                  [formControlName]="field.key"
                  [nullBased]="false"
                  [invalid]="advancedSearchForm.controls[field.key].invalid"
                ></vds-checkbox>
              </ng-container>
            </ng-template>

            <ng-template #radioGroup>
              <ng-container *ngIf="(field.type === SearchFieldType.RADIO); else number">
                <vds-radio-group 
                  role="radiogroup" 
                  [formControlName]="field.key"
                >
                  <legend vdsLegend >{{field.label}}</legend>
                  <vds-radio 
                      *ngFor="let option of getOptionList(field)"
                      [label]="option.label"
                      [checked]="option.value === advancedSearchForm.value[field.key]"
                      [radioValue]="option.value"
                      name="{{field.key}}radioName"
                      [invalid]="advancedSearchForm.controls[field.key].invalid"
                    >
                  </vds-radio>

              </vds-radio-group>
              </ng-container>
            </ng-template>

            <ng-template #number>
              <ng-container *ngIf="(field.type === SearchFieldType.NUMBER); else customFiled">
                <vds-form-field>
                  <label vdsLabel>{{field.label}}</label>
                  <input
                    vdsInput
                    type="number"
                    min="0"
                    [formControlName]="field.key"
                    [invalid]="advancedSearchForm.controls[field.key].invalid"
                  />
                </vds-form-field>
              </ng-container>
            </ng-template>

            <ng-template #customFiled>
              <ng-container *ngIf="!!field.templateRef && (field.type === SearchFieldType.CUSTOM);else default"
                [ngTemplateOutlet]="field.templateRef"
                [ngTemplateOutletContext]="{advancedSearchForm: advancedSearchForm, resultFilter: true}"
              >
              </ng-container>
            </ng-template>


            <ng-template #default>
              <ng-container *ngIf="!field.type">
                <vds-form-field>
                  <label vdsLabel>{{field.label}}</label>
                  <input
                    vdsInput
                    [formControlName]="field.key"
                    [invalid]="advancedSearchForm.controls[field.key].invalid"
                  />
                </vds-form-field>
              </ng-container>
            </ng-template>
        </ng-container>
        <vds-error 
            *ngIf="field.type !== SearchFieldType.CUSTOM"
              vdsErrorMessage 
              [show]="advancedSearchForm.controls[field.key].invalid">{{
                getError(field)
              }}
            </vds-error>
        </div>


      </form>
      <div
        *ngIf="showClearFilterButton && showClearSearchButton()"
        class="clear-section"
      >
        <!-- <span>
          Clear search
        </span> -->
        <label for="clearButton" class="clear-search-label">
          Clear search
        </label>
        <button
          id="clearButton"
          vds-button-icon
          role="button"
          aria-label="Clear"
          [iconType]="ButtonIconType.LIGHT_TINY"
          (click)="reset(true)"
    
        >
          <svg
            vds-icon
            [tiny]="true"
            [icon]="VisaIcon.CLEAR"
          ></svg>
        </button>
      </div>
    </div>
    <div 
      class="action-bar-container"
      *ngIf="(!!selectedRowActions.length || !!tableActions.length) || !!searchFields?.length"
      >
      <vds-action-bar
        [active]="true"
        [class.inactive]="!selection.selected.length || !selectedRowActions.length || !tableActions.length"
        [ariaLabel]="'action-bar-' + tableId"
      >
        <div
          *ngIf="columns?.length"
          class="wrapper-action-bar"
        >
          <div class="col col--xs-3 col--no-gutter">
            <vds-button-group>
              <button
                *ngIf="!!searchFields?.length"
                vds-button
                role="button"
                [color]="ButtonColor.SECONDARY"
                [disabled]="selection.selected.length && selectedRowActions.length"
                [attr.aria-label]="'search-' + tableId"
                (click)="openPanel(0)"
              >
                <svg
                  vds-icon
                  [icon]="VisaIcon.SEARCH"
                  [low]="true"
                ></svg>
              </button>
              <!-- Row Action Buttons -->
              <ng-container *ngIf="!!selection?.selected?.length">
                <button
                  *ngFor="let action of selectedRowActions"
                  vds-button
                  role="button"
                  aria-label="action-button"
                  [color]="action.buttonColor"
                  [disabled]="action.disabled && action.disabled(this)"
                  (click)="action.click && action.click(this)"
              >
                {{action.label}}
              </button>
              </ng-container>

              <!-- Action Buttons -->
              <ng-container *ngIf="!selection.selected.length || !selectedRowActions.length">
                <button
                  *ngFor="let action of tableActions"
                  vds-button
                  role="button"
                  [attr.aria-label]="action?.label+'-action-button'"
                  [color]="action.buttonColor"
                  [disabled]="action.disabled && action.disabled(this)"
                  (click)="action.click && action.click(this)"
                >
                  {{action.label}}
                </button>
              </ng-container>
            </vds-button-group>
          </div>

          <div
            *ngIf="moreColumns"
            class="filter-container"
          >
            <div class="filter-header">
              Show columns
              <div
                #toggle
                vdsChip
                class="chip"
                (click)="menuOpen = !menuOpen"
              >
                <span
                  *ngIf="shownColumns.length; else elseBlock"
                  vdsChipText
                >
                  {{ shownColumns[0] }}
                </span>
                <span
                  *ngIf="shownColumns.length - 1 > 0"
                  vdsChipText
                >
                  {{ " (+" + (shownColumns.length - 1) + ")" }}
                </span>
                <ng-template
                  #elseBlock
                  vdsChipText
                >
                  <span>No Columns Selected</span>
                </ng-template>
                <button
                  vds-button-icon
                  role="button"
                  aria-label="open dropdown"
                  [iconType]="ButtonIconType.LIGHT_TINY"
                  [attr.aria-expanded]="menuOpen"
                >
                  <svg
                    vds-icon
                    [icon]="!menuOpen ? VisaIcon.ARROW_EXPAND : VisaIcon.ARROW_COLLAPSE"
                    [tiny]="true"
                  ></svg>
                </button>
              </div>
            </div>
            <div
              #menu
              class="filter-dropdown"
            >
                <vds-listbox-container *ngIf="menuOpen">
                  <ul
                    vds-listbox
                    aria-label="toggle-column-tooltip"
                    id="search-table-colums-listbox"
                    role="listbox"
                    [multiselect]="true"
                    (change)="changeMultiSelectPreSelected($event)"
                  >
                    <li
                      *ngFor="let item of columns; let columnIndex = index; trackBy:columnTrackBy"
                      vds-listbox-item
                      [value]="item.key"
                      [selected]="!item.hidden"
                      [disabled]="!!item.fixed"
                    >
                      <label vdsCheckboxLabel>
                        {{ item.label }}
                      </label>
                    </li>
                  </ul>
                </vds-listbox-container>
            </div>
          </div>
        </div>
      </vds-action-bar>
    </div>

    <div
      class="table-container"
      [ngStyle]="tableStyle"
    >
      <table
        vdsDataTable
        [id]="tableId"
      >
        <caption vdsScreenReader>
          {{ caption }}
        </caption>

        <thead
          vdsThead
          sort
        >
          <tr
            class="table-header"
            vdsTr
          >
            <th 
              *ngIf="!hideSelectAll || !canSelectMultipleRow"
              scope="col"
              vdsTh
              sticky
            >
            Select

            <!-- Added label with 0 font-size for VGAR Requirement -->
            <!-- Table Header shouldn't be empty -->
              <vds-checkbox
                *ngIf="canSelectMultipleRow"
                label="select"
                class="hidden-label"
                id="header-select-all-checkbox"
                name="header-select-all-checkbox"
                matTooltipPosition="right"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [matTooltip]="isAllSelected()? 'Deselect All': 'Select All'"
                (click)="masterToggle($event)"
              ></vds-checkbox>
            </th>
  
            <ng-container *ngFor="let column of columns; let columnIndex = index; trackBy:columnTrackBy">
              <th vdsTh
                *ngIf="!column.hidden"
                sticky
                scope="col"
                [disableSticky]="!column.sticky"
                [style]="column.headerStyle"
              >
                <div class="sort-btn">
                  {{ column.label }}
                  <button 
                    *ngIf="column.sortable !== false"
                    role="button"
                    matTooltipPosition="after"
                    vds-button-icon
                    [iconType]="ButtonIconType.LIGHT_TINY"
                    [attr.aria-label]="column.label + getSortDirectionDesc(column.sortDirection || SortDirection.DEFAULT)"
                    [matTooltip]="getSortDirectionDesc(column.sortDirection || SortDirection.DEFAULT)"
                    (click)="sort(column)"
                  >
                    <svg
                      vds-icon
                      [icon]="getSortDirectionIcon(column.sortDirection || SortDirection.DEFAULT)"
                      [tiny]="true"
                    ></svg>
                  </button>
                </div>
              </th>
            </ng-container>

            <ng-container *ngIf="rowActions.length">
              <th
                scope="col"
                width="5%"
                vdsTh
              >{{ (rowActions.length > 1) ? 'Actions' : 'Action' }}</th>
            </ng-container>

          </tr>
        </thead>
        <tbody
          *ngIf="!isLoading"
          vdsTbody
        >
          <tr
            *ngFor="let row of dataSource; let rowIndex = index"
            vdsTr
            [ngClass]="{'selected-row' : selection.isSelected(row)}"
          >
            <td
              *ngIf="!hideSelectAll || !canSelectMultipleRow"
              vdsTd
              sticky
            >
              <vds-checkbox
                #checkbox
                *ngIf="!hideSelectAll"
                label="select"
                class="hidden-label"
                [checked]="selection.isSelected(row)"
                [name]="'row-checkbox'+rowIndex"
                [id]="'row-checkbox'+rowIndex"
                (click)="$event.stopPropagation()"
                (changed)="handleRowSelection($event, row)"
              ></vds-checkbox>

              <vds-radio
                #radioButton
                *ngIf="!canSelectMultipleRow && hideSelectAll"
                label="select"
                name="radioRowSelector"
                [radioValue]="row"
                [checked]="!!selection.isSelected(row)"
                [name]="'row-radio'"
                [id]="'row-radio'+rowIndex"
                (click)="$event.stopPropagation()"
                (changed)="handleRowSelection($event, row)"
              ></vds-radio>
            </td>
  
            <ng-container *ngFor="let column of columns; trackBy:columnTrackBy"
            >
              <ng-container
                *ngIf="((column.type === SearchTableColumnType.TEMPLATE) && (!!column.columnTemplateRef) && (!column.hidden)); else link"
                [ngTemplateOutlet]="column.columnTemplateRef"
                [ngTemplateOutletContext]="{ row: row, column: column }"
              >
              </ng-container>

              <ng-template #link>
                <ng-container *ngIf="((column.type === SearchTableColumnType.LINK) && !column.hidden); else email">
                  <td
                    vdsTd
                    sticky
                    [disableSticky]="!column.sticky"
                    [style]="column.cellStyle && column.cellStyle(row, this)"
                  >
                    <a
                      role="link"
                      tabindex="0"
                      class="link"
                      vdsLink
                      (click)="column.click && column.click(row, this)"
                      (keyup.enter)="column.click && column.click(row, this)"
                    >
                      {{ (column.mapValue && column.mapValue(row, this)) || row[column.key] }}
                    </a>
                  </td>
                </ng-container>
              </ng-template>

              <ng-template #email>
                <ng-container *ngIf="((column.type === SearchTableColumnType.EMAIL) && !column.hidden); else date">
                  <td
                    vdsTd
                    sticky
                    [disableSticky]="!column.sticky"
                    [style]="column.cellStyle && column.cellStyle(row, this)"
                  >
                    <a
                      role="link"
                      tabindex="0"
                      class="link"
                      vdsLink
                      href="mailto:{{(column.mapValue && column.mapValue(row, this)) || row[column.key] }}">
                      {{ (column.mapValue && column.mapValue(row, this)) || row[column.key] }}
                    </a>
                  </td>
                </ng-container>
              </ng-template>
  
              <ng-template #date>
                <ng-container *ngIf="(((column.type === SearchTableColumnType.DATE) || (column.type === SearchTableColumnType.GMT_DATE)) && !column.hidden); else badge">
                    <td
                      vdsTd
                      sticky
                      [disableSticky]="!column.sticky"
                      [style]="column.cellStyle && column.cellStyle(row, this)"
                    >
                     <app-date-time-field-value [value]="row[column.key]" [convertToLocal]="column.type !== SearchTableColumnType.GMT_DATE"></app-date-time-field-value>
                    </td>
                </ng-container>
              </ng-template>

              <ng-template #badge>
                <ng-container *ngIf="(column.type === SearchTableColumnType.BADGE) && !column.hidden; else status">
                  <td
                    vdsTd
                    sticky
                    [disableSticky]="!column.sticky"
                    [style]="column.cellStyle && column.cellStyle(row,this)"
                  >
                    <vds-badge
                      *ngIf="(column.mapValue && column.mapValue(row,this)) || row[column.key]"
                      [matTooltip]="column?.tooltip! && column?.tooltip(row)!"
                      >
                      {{(column.mapValue && column.mapValue(row,this)) || row[column.key]}}
                    </vds-badge>
                  </td>
                </ng-container>
              </ng-template>

              <ng-template #status>
                <ng-container *ngIf="((column.type === SearchTableColumnType.STATUS) && !column.hidden); else icon">
                    <td
                      vdsTd
                      sticky
                      [disableSticky]="!column.sticky"
                      [style]="column.cellStyle  && column.cellStyle(row, this)"
                    >
                      <vds-badge
                        *ngIf="((column.mapValue && column.mapValue(row, this)) || row[column.key])"
                        [type]="getStatusBadgeType((column.mapValue && column.mapValue(row, this)) || row[column.key])"
                        [matTooltip]="column?.tooltip! && column?.tooltip(row)!"
                      >
                      <svg
                        *ngIf="!!column.showStatusIcon && !!getStatusIcon((column.mapValue && column.mapValue(row, this)) || row[column.key])"
                        vds-icon
                        [tiny]="true"
                        [icon]="getStatusIcon((column.mapValue && column.mapValue(row, this)) || row[column.key])"
                      ></svg>
                        {{ getStatusDescription((column.mapValue && column.mapValue(row, this)) || row[column.key]) }}
                      </vds-badge>
                    </td>
                </ng-container>
              </ng-template>

              <ng-template #icon>
                <ng-container *ngIf="((column.type === SearchTableColumnType.ICON) && !column.hidden); else serialNumber">
                    <td
                      vdsTd
                      sticky
                      [disableSticky]="!column.sticky"
                      [style]="column.cellStyle && column.cellStyle(row, this)">
                    <button
                      *ngIf="!!row[column.key] && !!column.icon && column.icon(row, this)"
                      vds-button-icon
                      role="button"
                      aria-label="table-button"
                      [iconType]="ButtonIconType.LIGHT_TINY"
                      (click)="column.click && column.click(row, this)"
                      >
                      <svg
                        vds-icon
                        [tiny]="true"
                        [icon]="column.icon! && column.icon(row, this)!"
                      ></svg>

                    </button>
                    </td>
                </ng-container>
              </ng-template>

              <ng-template #serialNumber>
                <ng-container *ngIf="((column.type === SearchTableColumnType.SERIAL_NUMBER) && !column.hidden); else default">
                  <td
                    vdsTd
                    sticky
                    [disableSticky]="!column.sticky"
                    [style]="column.cellStyle && column.cellStyle(row, this)"
                  >
                    {{ (rowIndex + 1).toString().concat('.')}}
                  </td>
                </ng-container>
              </ng-template>

              <ng-template #default>
                <ng-container *ngIf="!column.hidden">
                  <td
                    vdsTd
                    sticky
                    [disableSticky]="!column.sticky"
                    [style]="column.cellStyle && column.cellStyle(row, this)"
                  >
                    {{ (column.mapValue && column.mapValue(row, this)) || row[column.key]}}
                  </td>
                </ng-container>
              </ng-template>
            </ng-container>

            <td
              vdsTd
              *ngIf="!!rowActions?.length"
            >
              <div class="rowActions">
                <ng-container *ngIf="((rowActions.length === 1) && rowActions[0].actionList?.length)">
                  <button
                    role="button"
                    aria-label="action-button"
                    aria-label="Menu Options"
                    vds-button-icon
                    [iconType]="ButtonIconType.LIGHT"
                    (click)="openedMenu = rowIndex"
                  >
                    <svg
                      vds-icon
                      [icon]="VisaIcon.OPTIONS"
                      [low]="true"
                    ></svg>
                  </button>

                  <vds-menu
                    class="vds-menu--absolute options-menu"
                    [class.vds-menu--show]="openedMenu == rowIndex"
                  >
                    <ul vds-listbox>
                      <ng-container *ngFor="let action of rowActions[0].actionList">
                        <li
                          *ngIf="!action.hidden"
                          id="search-table-row-action-listbox"
                          vds-listbox-item
                          [ngClass]="{disabled : action.disabled}"
                        >
                          <label>
                            {{action.label}}
                          </label>
                        </li>
                      </ng-container>
                    </ul>
                  </vds-menu>
                </ng-container>

                <ng-container *ngFor="let rowAction of rowActions">
                  <button
                    vds-button-icon
                    role="button"
                    aria-label="action-button"
                    matTooltipPosition="above"
                    [iconType]="ButtonIconType.LIGHT_TINY"
                    [disabled]="rowAction.disabled"
                    [matTooltip]="(rowAction.tooltip && rowAction.tooltip(this))!"
                    (click)="rowAction.click && rowAction.click(row, this)"
                  >
                    <svg
                      vds-icon
                      [icon]="rowAction.icon!"
                      [tiny]="true"
                    ></svg>
                  </button>
                </ng-container>
              </div>
            </td>

          </tr>
        </tbody>

      </table>
      <div
        *ngIf="!dataSource?.length && !isLoading && !!notFound"
        class="not-found-container"
      >{{notFound}}
      </div>

      <vds-linear-progress *ngIf="isLoading"></vds-linear-progress>

    </div>
    <div
      *ngIf="!hidePagination"
      class="vds-grid"
    >
      <div class="row col--no-gutter">
        <div
          *ngIf="!hidePaginationSizeFilter  && (page.totalElements > defaultPageSize || tableData.length > defaultPageSize)"
          class="col"
        >
          <div class="vds-grid">
            <div class="row">
              <div class="col--valign-center">
                <span>Items per page</span>
              </div>
              <div class="col--lg-2">
                <vds-form-field>
                  <select
                    vdsSelect
                    name="search-table-page-select"
                    [value]="defaultPageSize"
                    (change)="setPaginationSize($event)"
                  >
                    <option
                      *ngFor="let option of paginationSizeOptions"
                      [value]="option.value"
                      >
                      {{option.label}}
                    </option>
                  </select>
                </vds-form-field>
              </div>
              <div class="col--valign-center">
                <span *ngIf="sorting === 'dynamic'">
                  Showing {{ page.size*page.number + 1 }}
                  -
                  {{ (page.size*page.number*1 + page.size*1) > page.totalElements ? page.totalElements : ((page.size*page.number*1 + page.size*1)) }}
                  of
                  {{ page.totalElements }}
                </span>
                <span *ngIf="sorting === 'static'">
                  Showing {{ selectedPageSize*selectedPageIndex + 1 }}
                  -
                  {{ (selectedPageSize*selectedPageIndex*1 + selectedPageSize*1) > tableData.length ? tableData.length : (selectedPageSize*selectedPageIndex*1 + selectedPageSize*1)}}
                  of 
                  {{ tableData.length }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <vds-pagination
            [ariaLabel]="'pagination-' + tableId"
            [pageIndex]="(sorting === 'dynamic') ? page.number : selectedPageIndex"
            [pageSize]="(sorting === 'dynamic') ? page.size : selectedPageSize"
            [length]="(sorting === 'dynamic') ? page.totalElements : (tableData?.length! || totalElements)"
            [ariaFirstPage]="'First Page'"
            [ariaPreviousPage]="'Previous Page'"
            [ariaNextPage]="'Next Page'"
            [ariaLastPage]="'Last Page'"
            (paginationEvent)="handlePagination($event)"
          ></vds-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isPanelOpen"
  class="panel-content"
>
  <app-panel
    panelId="search-panel"
    [selectedTab]="panelSection"
    (panelStatusEmitter)="onPanelStatusChange($event)"
    [panelActions]="panelActions"
    (activeSection)="panelSection = $event"
  >
    <div searchFilters>
      <form
        *ngIf="initializeForm"
        [formGroup]="advancedSearchForm"
      >
        <div class="vds-grid">
          <div class="row">
            <div class="col" 
              *ngFor="let field of searchFields; trackBy:searchFieldTrackBy"
              [ngClass]="{
                'col--xs-2 col--sm-4 col--md-4 col--lg-6 col--xl-6 col--xxl-6': !field.fullWidth,
                'col--xs-4 col--sm-8 col--md-8 col--lg-12 col--xl-12 col--xxl-12': field.fullWidth,  
              }">
              <ng-container *ngIf="field.type === SearchFieldType.DROPDOWN; else searchSelect">
                <vds-form-field>
                  <label vdsLabel>{{field.label}}</label>
                  <select
                    vdsSelect
                    [formControlName]="field.key"
                    [name]="'search-table-filter-'+field.key"
                  >
                    <option
                      *ngFor="let option of getOptionList(field)"
                      [value]="option.value"
                    >{{option.label}}</option>
                  </select>
                </vds-form-field>
              </ng-container>
              <vds-error 
                *ngIf="field.type !== SearchFieldType.CUSTOM"
                vdsErrorMessage 
                [show]="advancedSearchForm.controls[field.key].invalid">{{
                  getError(field)
                }}
              </vds-error>
              <ng-template #searchSelect>
                <ng-container *ngIf="field.type === SearchFieldType.SEARCH_SELECT; else date">
                  <div
                    vds-combobox
                    [id]="tableId.concat('search-select').concat(field.key)"
                    [formControlName]="field.key"
                    [type]="ComboboxType.MANUAL"
                  >
                    <vds-form-field>
                      <label vdsLabel>{{field.label}}</label>
                      <input vdsInput [invalid]="advancedSearchForm.controls[field.key].invalid"
                      />
                      <button
                        vdsSuffix 
                        role="button"
                        vds-button-icon
                        [iconType]="ButtonIconType.LIGHT_TINY"
                        [attr.aria-expanded]="searchSelectOpen"
                      >
                      <svg
                        vds-icon
                        icon="visa_arrow-expand"
                        [tiny]="true"
                      ></svg>
                      </button>
                    </vds-form-field>
                    <vds-menu >
                      <ul vds-listbox >
                        <li
                          *ngFor="let option of getOptionList(field)"
                          vds-listbox-item
                          [value]="option.value"
                        >
                        {{option.label}}
                        </li>
                      </ul>
                    </vds-menu>
                  </div>
                </ng-container>
              </ng-template>
    
              <ng-template #date>
                <ng-container *ngIf="((field.type === SearchFieldType.DATE) || (field.type === SearchFieldType.GMT_DATE) ); else checkbox">
                  <vds-date-selector
                    [label]="field.label"
                    [formControlName]="field.key"
                    [placement]="field.calenderPlacement!"
                    [formatInputValue]="DateFormat.MM_DD_YYYY"
                    [valid]="!advancedSearchForm.controls[field.key].invalid"
                    (formattedDateChange)="handleDateChange($event,field)"
                  ></vds-date-selector>
                </ng-container>
              </ng-template>
    
              <ng-template #checkbox>
                <ng-container *ngIf="field.type === SearchFieldType.CHECKBOX; else time">
                  <vds-checkbox
                    [label]="field.label"
                    [formControlName]="field.key"
                    [nullBased]="false"
                    [invalid]="advancedSearchForm.controls[field.key].invalid"
                  ></vds-checkbox>
                </ng-container>
              </ng-template>
              
              <ng-template #time>
                <ng-container *ngIf="field.type === SearchFieldType.TIME; else radio">
                  <app-time-picker
                    aria-required="true"
                    [formControlName]="field.key"
                    [placeholder]="field.label"
                    [disabled]="!advancedSearchForm.get(field.searchDependencies![0].parentField)?.value"
                    [invalid]="advancedSearchForm.controls[field.key].invalid"
                  >
                  </app-time-picker>
                </ng-container>
              </ng-template>
    
              <ng-template #radio>
                <ng-container *ngIf="field.type === SearchFieldType.RADIO; else textArea">
                  <vds-radio-group 
                    class="radio-group-row"
                    role="radiogroup" 
                    [formControlName]="field.key"
                    >
                    <legend vdsLegend >{{field.label}}</legend>
                    <vds-radio 
                        *ngFor="let option of getOptionList(field)"
                        [label]="option.label"
                        [checked]="option.value === advancedSearchForm.value[field.key]"
                        [radioValue]="option.value"
                        [invalid]="advancedSearchForm.controls[field.key].invalid"
                        name="{{field.key}}radioName">
                      </vds-radio>
                  </vds-radio-group>
                </ng-container>
              </ng-template>

              <ng-template #textArea>
                <ng-container *ngIf="field.type === SearchFieldType.TEXT_AREA; else number">
                  <vds-form-field>
                    <label vdsLabel>{{field.label}}</label>
                    <textarea
                      vdsInput
                      [autoGrow]="false"
                      [rows]="5"
                      [formControlName]="field.key"
                      [invalid]="advancedSearchForm.controls[field.key].invalid">
                    </textarea>
                  </vds-form-field>
                </ng-container>
              </ng-template>

              <ng-template #number>
                <ng-container *ngIf="field.type === SearchFieldType.NUMBER; else customFiled">
                  <vds-form-field>
                    <label vdsLabel>{{field.label}}</label>
                    <input
                      vdsInput
                      type="number"
                      min="0"
                      [formControlName]="field.key"
                      [invalid]="advancedSearchForm.controls[field.key].invalid"
                    />
                  </vds-form-field>
                </ng-container>
              </ng-template>
    
              <ng-template #customFiled>
                <ng-container *ngIf="((field.type === SearchFieldType.CUSTOM) && !!field.templateRef); else default" 
                  [ngTemplateOutlet]="field.templateRef"
                  [ngTemplateOutletContext]="{advancedSearchForm:advancedSearchForm}"
                  >
                </ng-container>
              </ng-template>
              
              
              <ng-template #default>
                <ng-container>
                  <vds-form-field>
                    <label vdsLabel>{{field.label}}</label>
                    <input
                      vdsInput
                      [formControlName]="field.key"
                      [invalid]="advancedSearchForm.controls[field.key].invalid"
                    />
                  </vds-form-field>

                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>

      </form>
    </div>
  </app-panel>
</div>