form {
  display: block !important;

  .trans-id-search-form-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 15px;

    vds-date-selector ::ng-deep .vds-input {
      width: -webkit-fill-available;
    }
  }

  .merchant-search-action {
    .loading-spinner ::ng-deep .vds-progress--spinner {
      &,
      svg {
        height: 40px;
        width: 113px;
      }
    }

    vds-error {
      margin-left: 10px;
    }
  }

  @media (max-width: 768px) {
    .trans-id-search-form-field {
      grid-template-columns: 1fr;
      column-gap: unset;
    }
  }
}
