  <div>
    <vds-linear-progress *ngIf="isLoading"></vds-linear-progress>
    <div vds-dialog-card-head>
      <h2 vds-dialog-card-head-title>
        Create New Program
      </h2>
    </div>
    <div vds-dialog-card-body 
      id="create-program-dialog">
      <vds-error vdsErrorMessage [show]="!!errMsg"> {{ errMsg }} </vds-error>
      <form [formGroup]="form">
        <vds-form-field>
          <label vdsLabel>Program Name *</label>
          <input 
            vdsInput 
            aria-required="true"
            formControlName="programName" 
            [invalid]="!!getErrorMessage(form, 'programName')"/>
        </vds-form-field>
        <vds-error 
          vdsErrorMessage 
          [show]="!!getErrorMessage(form, 'programName')">{{
            getErrorMessage(form, 'programName') 
          }}
        </vds-error>

        <vds-form-field>
          <label vdsLabel>Description</label>
          <textarea 
            vdsInput 
            formControlName="programDescription"
            [invalid]="!!getErrorMessage(form, 'programDescription')"
          ></textarea>
        </vds-form-field>
        <vds-error 
          vdsErrorMessage 
          [show]="!!getErrorMessage(form, 'programDescription')">{{
            getErrorMessage(form, 'programDescription') 
          }}
        </vds-error>
      </form>
    </div>

    <div vds-dialog-card-footer>
      <vds-button-group direction="right">
        <button role="button"
          vds-button
          [color]="ButtonColor.PRIMARY"
          (click)="save()"
          >
          Save
        </button>
        <button role="button" 
          vds-button 
          [color]="ButtonColor.TERTIARY" 
          (click)="close()"
          >
          Cancel
        </button>
      </vds-button-group>
    </div>
  </div>