.filter-container {
  width: max-content;
  margin-top: 10px;

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chip {
    margin-left: 12px;
    margin-bottom: 0px;
    cursor: pointer;
  }
  .filter-dropdown {
    margin-top: 0;
    position: absolute;
    z-index: 2;
    right: 0;

    &::ng-deep.vds-listbox-container {
      margin: 0;
      
      .vds-state--disabled {
        background-color: #cacaca;

        label {
          color: #000000;
        }

        .vds-state--checked::after {
          background-color: rgb(170, 170, 170);
          border-color: rgb(170, 170, 170);
        }
      }
    }
  }
}
