  <app-header
    screenTitle="Manage Program - {{ tabs[selectedTabIndex] }}"
    [headerHeight]="46"
  ></app-header>

  <div class="tabs-section">
    <ul
      vds-tab-list
      [orientation]="TabsOrientation.HORIZONTAL"
      (selectedIndexChange)="onTabChange($event)"

    >
      <li vds-tab-item *ngFor="let tab of tabs; let tabIndex = index">
        <button role="button" 
          vdsTab
          [selected]="selectedTabIndex === tabIndex"
          (focus)="selectedTabIndex = tabIndex"
        >
          {{ tab }}
        </button>
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="initialized">
    <app-program-summary
      *ngIf="selectedTabIndex === 0"
      [id]="getTabId(viewName,selectedTabIndex,ProgramStep.SUMMARY)"
      [attr.aria-labelledby]="getTabLabelledById(viewName,selectedTabIndex,ProgramStep.SUMMARY)"
      [hidden]="selectedTabIndex !== 0"
      [mode]="mode"
      [form]="form"
      [editable]="editable"
    ></app-program-summary>

    <ng-container *ngIf="editable">
      <app-program-basics
      [id]="getTabId(viewName,selectedTabIndex,ProgramStep.BASICS)"
      [attr.aria-labelledby]="getTabLabelledById(viewName,selectedTabIndex,ProgramStep.BASICS)"
      [hidden]="selectedTabIndex !== 1"
      [mode]="mode"
      [form]="form"
      (onSubmitEmitter)="init()"
    ></app-program-basics>

    <app-program-event-group
      *ngIf="selectedTabIndex === 2"
      [id]="getTabId(viewName,selectedTabIndex,ProgramStep.EVENT_GROUPS)"
      [attr.aria-labelledby]="getTabLabelledById(viewName,selectedTabIndex,ProgramStep.EVENT_GROUPS)"
      [hidden]="selectedTabIndex !== 2"
      [mode]="mode"
      [form]="form"
    ></app-program-event-group>

    <app-program-visual-builder
      *ngIf="selectedTabIndex === 3"
      [id]="getTabId(viewName,selectedTabIndex,ProgramStep.VISUAL_BUILDER)"
      [attr.aria-labelledby]="getTabLabelledById(viewName,selectedTabIndex,ProgramStep.VISUAL_BUILDER)"
      [mode]="mode"
      [form]="form"
      [hidden]="selectedTabIndex !== 3"
    ></app-program-visual-builder>
    </ng-container>

  </div>


