<div class="table-wrapper">
  <div class="table-container">
    <div class="model-table-container">
      <table vdsDataTable class="table-class">
        <caption vdsScreenReader>
          {{caption}}
        </caption>
        <thead vdsThead>
          <tr vdsTr>
            <th vdsTh scope="col" width="5%" class="fix">

                <vds-checkbox
                  [matTooltip]="
                    selectedIndex.length === tableData.length
                      ? 'Deselect All'
                      : 'Select All'
                  "
                  [matTooltipPosition]="TooltipPosition.RIGHT"
                  aria-labelledby="vsid-data-select-all-tooltip"
                  label="Select"
                  (click)="selectAllHandler($event)"
                  [indeterminate]="
                    selectedIndex.length > 0 &&
                    selectedIndex.length < tableData.length
                  "
                  [checked]="
                    tableData.length > 0 &&
                    selectedIndex.length === tableData.length
                  "
                ></vds-checkbox>
                <!-- Added label with 0 opacity for VGAR Requirement -->
                <!-- Table Header shouldn't be empty -->
                <label vdsLabel class="hidden-label">Select</label>
            </th>

            <ng-container *ngFor="let column of columns; let i = index">
              <th vdsTh scope="col" *ngIf="column.checked" [class.fix]="i < 3">
                <div class="sort-btn">
                  {{ column.label }}
                    <button
                      *ngIf="column.sortable"
                      [matTooltip]="'Sort ' + sortBy[i]?.slice(1) | titlecase"
                      [matTooltipPosition]="TooltipPosition.RIGHT"
                       role="button"
                      vds-button-icon
                      [iconType]="ButtonIconType.LIGHT_TINY"
                      (click)="handleSort(column.value, i)"
                      [attr.aria-label]="'sort ' + column.label + sortBy[i]"
                    >
                      <svg
                        vds-icon
                        [icon]="'sortable' + sortBy[i]"
                        [tiny]="true"
                      ></svg>
                    </button>
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody vdsTbody>
          <tr
            vdsTr
            *ngFor="let row of tableData; let i = index"
            [class.selected-row]="selectedIndex.includes(i)"
          >
            <td vdsTd class="fix">
              <vds-checkbox
                label="Select"
                (changed)="checkboxHandler($event, i)"
                [checked]="selectedIndex.includes(i)"
                [disabled]="isAcquirerInfoMerchantType ? (row.bin === '-' || row.caid === '-') : false"
              ></vds-checkbox>
            </td>
            <ng-container *ngIf="!isAcquirerInfoMerchantType">
              <ng-container *ngFor="let col of (columns?.slice(0, 4) || []); let j = index">
                <td vdsTd *ngIf="col?.checked" [class.fix]="j < 3">
                  {{ row?.[col?.value!] || '-' }}
                </td>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isAcquirerInfoMerchantType">
              <ng-container *ngFor="let col of (columns?.slice(0, 6) || []); let j = index">
                <td vdsTd *ngIf="col?.checked" [class.fix]="j < 3">
                  {{ row?.[col?.value!] || '-' }}
                </td>
              </ng-container>
            </ng-container>
            
            <td vdsTd>
              <vds-form-field>
                <input
                  vdsInput
                  [maxLength]="30"
                  (input)="assingValue($event, i)"
                  [readonly]="!selectedIndex.includes(i)"
                  [tabindex]="!selectedIndex.includes(i) ? -1 : 0"
                  aria-label="external-id-input"
                  [value]="extraInfo[i].externalId"
                  [invalid]="!alphaNumeric.test(extraInfo[i].externalId)"
                />
              </vds-form-field>
            </td>
            <td vdsTd>
              <div class="date-selector">
                <vds-date-selector
                  label="Select"
                  [hint]="
                    this.extraInfo[i].startDateInMerchantGroup
                      ? ''
                      : 'yyyy-MM-dd HH:mm:ss'
                  "
                  [disabled]="!selectedIndex.includes(i)"
                  (formattedDateChange)="selectDate($event, 'start', i)"
                  [formatInputValue]="'yyyy-MM-dd HH:mm:ss'"
                  [value]="extraInfo[i].startDateInMerchantGroup"
                  [valid]="
                    !(
                      !extraInfo[i].startDateInMerchantGroup &&
                      extraInfo[i].endDateInMerchantGroup
                    )
                  "
                ></vds-date-selector>
                <vds-badge class="m-l-10">{{ timeZone }}</vds-badge>
              </div>
            </td>
            <td vdsTd>
              <div class="date-selector">
                <vds-date-selector
                  label="Select"
                  [hint]="
                    this.extraInfo[i].endDateInMerchantGroup
                      ? ''
                      : 'yyyy-MM-dd HH:mm:ss'
                  "
                  [disabled]="!selectedIndex.includes(i)"
                  (formattedDateChange)="selectDate($event, 'end', i)"
                  [formatInputValue]="'yyyy-MM-dd HH:mm:ss'"
                  [value]="extraInfo[i].endDateInMerchantGroup"
                ></vds-date-selector>
                <vds-badge class="m-l-10">{{ timeZone }}</vds-badge>
              </div>
            </td>

            <ng-container *ngIf="!isAcquirerInfoMerchantType">
              <ng-container *ngFor="let col of columns?.slice(7)">
                <td vdsTd *ngIf="col?.checked">
                  {{ row?.[col?.value!] || '-' }}
                </td>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isAcquirerInfoMerchantType;">
              <ng-container *ngFor="let col of columns?.slice(9)">
                <td vdsTd *ngIf="col?.checked">
                  {{ row?.[col?.value!] || '-' }}
                </td>
              </ng-container>
            </ng-container>
            
          </tr>
        </tbody>
      </table>
    </div>

    <div class="no-data-label" *ngIf="!tableData.length">
      This group has no merchants added.
    </div>
  </div>
</div>
