.sp-badge {
    color: #222;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    display: inline-flex;
    font-size: 0.75rem;
    line-height: 1.125rem;
    padding-inline: .4375rem .5rem;

}